@tailwind base;
@tailwind components;
@tailwind utilities

button {
  background-color: cornflowerblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button:disabled {
  opacity: 0.2;
}

h1 {
  color: gold;
  /* TODO: Why is this not overridding Tailwind defaults? */
  font-size: 2rem;
  font-weight: bold;
}

input {
  border: 1px solid red;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
